<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <center>Login Page</center>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <b>{{ message }}</b>
    {% endfor %}
  {% endif %}
{% endwith %}
     <center>
        <form method="post">
        <input type="email" name="useremail" placeholder="Enter useremail"/><br><br>
        <input type="password" name="userpassword" placeholder="Enter userpassword"/><br><br>
        <button>Login</button>    
     </form>
     <a href="{{url_for('forgot')}}">Forgot Password</a>
     </center>
</body>
</html>