<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>Register</center>
    <center>
        <form method="POST">
        <input type="text" name="username" placeholder="Enter username"/><br></br>
        <input type="email" name="useremail" placeholder="Enter Emial"/><br></br>
        <input type="password" name="userpassword" placeholder="Enter password"/><br></br>
        <input type="text" name="userphone_no" placeholder="Enter userphone number"/><br></br>
        <button>Submit</button>
         </form>
    </center>
</body>
</html>