{% extends "dashboard.html" %}
{% block addcss %}
<link rel="stylesheet" href="/static/viewallnotes.css">{% endblock %}
{% block content %}


<div class="notes-table-container">

    <div class="table-card">
        <table>

            <thead>
                <tr>
                    <th>Notes ID</th>
                    <th>Title</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% if allnotesdata %}
                {% for i in allnotesdata %}
                

                <tr>
                    <td>{{i[0]}}</td>

                    <td>{{i[1]}}</td>

                    <td>{{i[2]}}</td>

                    <td class="actions">

                        <!-- VIEW -->

                        <a 
                            href="{{url_for('viewnotes',nid=i[0])}}"
                            class="view-btn"
                        >
                            View
                        </a>

                        <!-- UPDATE -->

                        <a 
                            href="{{url_for('updatenotes',nid=i[0])}}"
                            class="update-btn"
                        >
                            Update
                        </a>

                        <!-- DELETE -->

                        <a 
                            href="{{url_for('deletenotes',nid=i[0])}}"
                            class="delete-btn"
                            onclick="return confirm('Are you sure you want to delete this note?')"
                        >
                            Delete
                        </a>

                    </td>
                </tr>
                {% endfor %}
                {% endif %}
               

            </tbody>

        </table>

    </div>

</div>

{% endblock %}